* text=auto
*.ets text eol=lf
*.json5 text eol=lf
*.rs text eol=lf
*.toml text eol=lf
*.ps1 text eol=crlf
*.jpeg binary
*.jpg binary
*.png binary
*.so binary
third_party/uniclipboard-engine/** -text
third_party/uniclipboard-engine/v1.1.0-rc.7/UniClipboardEngine.har filter=lfs diff=lfs merge=lfs -text
